version: '3.3'
services:
  mysql:
    image: mysql:8
    environment:
      - MYSQL_DATABASE=serie1_db
      - MYSQL_ROOT_PASSWORD=123456
    ports:
      - '3306:3306'
    volumes:
      - ./mysql_data:/var/lib/mysql    

volumes:
  mysql_data: {}
